body { font-family: Calibri; font-size: 15px; margin: 30px; color: white;}

.content { position: relative; }
.game-over { display: none; margin: 0 auto; width: 900px; text-align: center; color: #f44336; font-size: 21px; font-weight: bold; }

#field { width: 900px; margin: 0 auto; }
.field-line { height: 100px; background-color: #4caf50; position: relative; }

.buttons { width: 900px; margin: 0 auto; margin-top: 5px; user-select: none; -webkit-user-select: none; }
.button { display: inline-block; border: 1px solid #eee; padding: 0px 10px; margin-bottom: 5px; cursor: pointer; text-align: center; }
.button#btnGenerate { background-color: #ff9800; }
.button#btnGenerate:hover{ background-color: indianred; } 
.button#btnSlow { background-color:salmon; }
.button#btnSlow:hover{ background-color: saddlebrown; } 
.button#btnGrow{ background-color: green;}
.button#btnGrow:hover{ background-color: limegreen; }
.button#btnExplode{ background-color: red;}
.button#btnExplode:hover{ background-color: darkmagenta; }

.zombie-depot{ position: absolute; top: 0; right: 0; width: 60px; overflow: hidden; }
.zombie { vertical-align: bottom; margin: auto; }
.zombie.michael { width: 46px; height: 69px; background-image: url(img/michael.gif); background-size: cover; }
.zombie.strong { width: 60px; height: 73px; background-image: url(img/strong.gif); background-size: cover; }

.hp-bar { background-color: gray; border-radius: 2px; height:9px; font-size: 9px}
.hp-bar .hp-line{ background-color: mediumvioletred; height: 100%; border-radius: 4px; width: 100%; }
.hp-bar .hp-line p { margin: 0px; padding: 0px; vertical-align: middle; text-align: center; line-height: 7px; width: 60px; }